body {
  padding: 0px;
  margin: 0px;
  background-image: url(/image/background);
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.position {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 3%;
}

.form_style {
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: white;
}

.form_style input {
  width: 500px;
  padding: 2%;
}

.form_style label {
  justify-content: flex-start;
}

.form_style textarea {
  height: 150px;
}

.form_style input:focus {
  background-color: rgb(211, 211, 211);
}

.btn_container {
  display: flex;
  justify-content: center;
}

.background_modal {
  background-color: rgba(0, 0, 0, 0.349);
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container {
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border: 2px solid black;
  font-family: sans-serif;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content {
  margin-top: 21%;
  display: flex;
  justify-content: center;
}

.content img {
  margin-top: -10%;
}
